<h1>Login</h1>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div>
    <label for="email">Email:</label>
    <br>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required />
    <div class="error">{{ errorMessages.email }}</div>
  </div>

  <div>
    <label for="pass">Password:</label>
    <br>
    <input type="text" id="pass" name="pass" [(ngModel)]="user.pass" required />
    <div class="error">{{ errorMessages.pass }}</div>
  </div>

  <button type="button" (click)="navigateToForgetPassword()">Forget Password</button>
  <button type="submit">Login</button>
</form>
